:root {
  /* Variables CSS */
  --color-gradient: linear-gradient(#55DDFF, #C058F3);
  --color-check: #E3E4F1;
  --color-filter-focused: #3A7CFD;
  --color-filter-unfocused: #9495A5;
  --color-white: white;
  --text-normal: #494C6B;
  --text-placeholder: #9495A5;
  --text-complete: #D1D2DA;
}

/* Variables SASS */
